.outer {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}

.inner {
  background-color: currentColor;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  animation: wander 1.8s linear infinite;
}

.inner:last-child {
  animation-delay: -0.9s;
}

@keyframes wander {
  25% {
    transform: translateX(20px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(20px) translateY(20px) rotate(-180deg);
  }
  75% {
    transform: translateX(0) translateY(20px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-1turn);
  }
}
