@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit/Outfit-ExtraLight.ttf);
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit/Outfit-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/Outfit/Outfit-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}

:root {
  color: #bbe1fa;
  background-color: #1b262c;

  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  min-height: 768px;
}
